@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary:black;
  --secondary:#d9d9d9;
  --third:#3e3e42;
}

.react-datepicker__header {
  background-color: white;
}
.react-datepicker__day-names{
  background-color: #d9d9d9;
}
.react-datepicker__day--keyboard-selected  {
  background-color: #f1baba;
  color: black;
}
.react-datepicker__day--keyboard-selected:hover  {
  background-color: red;
  color: white;
}
.react-datepicker__day--selected {
  background-color: red; 
  color: white; 
}

.react-datepicker__day--selected:hover {
  background-color: #f1baba;
  color: black; 
}